body{

    font-family: 'Roboto Condensed', sans-serif;
    color:#021D5A;
}
.jumpboHeader{
    text-align: center;
}

h5{
    font-weight: bold;
}

label{
    margin-bottom:10px;
}

#descriptionDesc{
    font-weight:bold;
    text-align: center;
    margin: 20px;
}

.connectionDesc{
    font-weight:bold;
    text-align:center;
    margin:20px;

}

.gradeDesc, .topicDesc, .curriculumDesc{
    margin-bottom: 20px;
}
