body{
    background-image:url("../images/uoftbackground.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    color:#021D5A;
}
a{
    color: white;
}

.jumbotron{
    opacity:0.8
}

.innterOpacity{
    opacity: 1;
}

#searchBtn{
    margin-left:15px;
}

h5{
    font-weight: bold;
}

label{
    margin-bottom:10px;
}

#descriptionDesc{
    font-weight:bold;
    text-align: center;
    margin: 20px;
}

.connectionDesc{
    font-weight:bold;
    text-align:center;
    margin:20px;

}

.gradeDesc, .topicDesc, .curriculumDesc{
    margin-bottom: 20px;
}

